body{
	overflow-x: hidden;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P', serif;
}
#back{
	background: #F0F0F8;
}
#back_lk{
	position: absolute;
	background: url("../img/back.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
	width: 100%;
}
.center0{
	text-align: center;
}
.container{
	max-width: 1360px;
	padding: 0 10px 0 10px;
	padding: 0;
	margin: 0 auto;
}
h1, h2, h3, h4, h5{
	margin: 0;
	padding: 0;
}
a{
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}
#vxod1{
	text-transform: none;
}
.header{
	padding-left: 22px;
	padding-top: 3px;
	color: #484D56;
	display: flex;
	background: #FFFFFF;
	border-bottom: 2px solid #E3E3EB;
}
.logo{
	color: #07060B;
	font-size: 18px;
	margin-top: 8px;
}
.prosm{
	color: #484D56;
	font-size: 12px;
	display: flex;
	padding-bottom: 15px;
	margin: 11px 15px 0px 25px;
}
.prosm:hover{
	color: #258FE5;
	transition: 0.3s;
}
.poizk{
	margin: 6px 0 0 190px;
}
.poi{
	border-radius: 5px;
	height: 15px;
	width: 20px;
}

.poizk input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.poizk input{
	border-radius: 10px 0 0 10px;
	padding: 3px;
	padding-left: 20px;
	border: 1px solid #3EA6FF;
	width: 250px;
	color: #141820;
	background-color: white;
}
.poizk button{
	height: 23px;
	border-radius: 0px 10px 10px 0; 
	padding: 0px;
	width: 20px;
	background: white;
	border: 1px solid #3EA6FF;
	color: #258FE5;
	cursor: pointer;
}
#dark{
	padding: 10px;
	background: black;
	color: white;
	border: none;
	border-radius: 50%;
	font-size: 12px;
	outline: none;
	margin-left: 20px;
	margin-top: 8px;
}
#dark:hover{
	cursor: pointer;
}
.menu{
	margin-top: 6px;
	margin-left: 20px;
	padding-top: 4px;
}
.top{
	margin-left: 635px;
	display: flex;
}
.vxod{
	cursor: pointer;
	border: 1px solid #3EA6FF;
	padding: 5px 20px 5px 20px;
}
.vxod3{
	color: black;
}
#tul{
	font-size: 18px;
	padding-top: 9px;
	color: #484D56;
	border: 0;
	cursor: pointer;
	background: white;
}
#yved{
	margin-right: 100px;
	margin-left: 30px;
	padding-top: 10px;
	color: #484D56;
	border: 0;
	cursor: pointer;
	background: white;
}
.zad{
	z-index: -1;
	height: 220px;
	width: 100%;
	opacity: 0.2;
	background: black;
}
.profil_fon{
	position: absolute;
	margin-top: -52px;
	margin-left: 1000px;
    background-size: cover;
}
.img_prof{
	position: absolute;
	margin: 15px 0 0 0px;
	
}
.block_1{
	transform: skew(5deg);
	width: 150px;
}
.block_2{
	transform: skew(2deg);
	width: 100px;
	height: 200px;
}
.block_3{
	width: 320px;
}
.block_4{
	transform: skew(-3deg);
	width: 90px;
}	
.name_account{
	background: #fff;
	letter-spacing: 2px;
	margin-top:24px;
	margin-left:40px;
	font-size: 6px;
	color: black;
}

#zag_but{
	position: absolute;
	margin-top: -240px;
	margin-left: 600px;
	padding: 15px 30px;
}
#niz{
	border: 3px solid black;
	background: transparent;
	margin-top: 270px;
}
#up{
	position: relative;
	height: 100px;
	width: 100px;
	border: 3px solid black;
	background: transparent;
	margin-top: -180px;
	margin-left: 100px;
}
#le{
	position: relative;
	height: 100px;
	width: 100px;
	border: 3px solid black;
	background: transparent;
	margin-top: -110px;
	margin-left: 400px;
}
.fa-angle-double-down{
	margin-top: 22px;
	font-size: 60px;
	color: black;
	margin-left: 33px;
}
.fa-angle-double-down:hover{
	color: #D90548;
}
#otchet{
	font-size: 22px;
	height: 100px;
	width: 100px;
	background: transparent;
}
#otchet:hover{
	cursor: pointer;
	background: #fff5f6;
	

}
.pod{
	margin-top: -86px;
	font-size: 16px;
	margin-left: 120px;
}
.pad{
	margin-top: -100px;
	font-size: 16px;
	margin-left: 120px;
}
#opisanie{
	box-shadow: -3px -5px 1px 41px rgba(34, 60, 80, 0.2) inset;
	position: absolute;
	height: 314px;
	width: 198px;
	padding: 12px;
	padding-top: 20px;
	border-bottom: 0.1px solid white;
	margin: -105px 0 0 20px;
}
.box_otp h3{
	font-size: 18px;
	position: absolute;
	margin: -300px 0 0 70px;
}
#send_file{
	font-size: 18px;
	height: 60px;
	color: transparent;
	position: absolute;
	margin: -250px 0 0 300px;
}
#send_file:hover{
	border: #3EA6FF;
}
.palka3{
	margin-top: -145px;
	height: 10px;
	width: 100%;
	background: #484D56;
}
.x{
	display: flex;
	margin-left: 60px;
}
.video{
	margin-top: 20px;
	width: 300px;
}
.one{
	padding-top: 9px;
}
#new{
	margin: 215px 0px 0px 145px;
	background: white;
}
#new2{
	background: transparent;
	border: 3px solid black;
	margin: 55px 0px 0px 255px;
}
.fonts_robot{
	font-family: 'Roboto', serif;
}
.popup{
	transition: 0.2s;
	position: fixed;
	width: 100%;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	z-index: 2;
	visibility: hidden;
}
.popup:target {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}
.popup:target .popup_content{
	transform: translate(0,0);
	opacity: 1;
}
.popup_area{
	position: absolute;
	width: 85.2%;
	height: 100%;
	left: 0;

}
.popup_doby{
	float: right;
	display: flex;
	min-height: 100vh;
}
.popup_content{
	padding-top: 18px;
	transition: 0.2s;
	opacity: 0;
	transform: translate(100%,0);
	background-color: white;
	color: black;
	max-width: 800px;
	width: 200px;
	background: url("../img/back_po.jpg") center no-repeat;
    background-size: cover;
}
.title_pop a{
	padding: 20px 133px 10px 20px;
	cursor: pointer;
	font-size: 20px;
	border-bottom: 2px solid #C8CACD;
	text-transform: none;
	color: #91949A;
}
.title_pop a:hover{
	background-color: #D9DBDE;
	color: #83868B;
}
.vx a{
	color: #3EA6FF;
	text-transform: none;
}
.vx{
	padding: 30px 0 0px 20px;
}
.vxod2{
	cursor: pointer;
	border: 1px solid #3EA6FF;
	padding: 5px 40px 5px 40px;
	color: #3EA6FF;
	background: white;
}
.vxod2:hover{
	color: #D90548;
	border: 1px solid #D90548;
}
.vxod2:hover{
	color: #D90548;
	border: 1px solid #D90548;
}
.otp input{
	margin-bottom: 18px;
 	background: white;
 	border: 0;
 	width: 100%;
 	border-bottom: 1px solid  #3EA6FF;
}
.checked input{
	height: 15px;
	width: 20px;
	margin: 0 20px 0 0;
	padding: 0;

}
.flex{
	display: flex;
	height: 45px;
}
.flex p{
	color: #1A202C;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.flex a{
	text-transform: none;
	font-size: 14px;
	color: #1A202C;
	border-bottom: 1px solid black;
}
mark{
	color: #484D56;
	background: white;
}
.flex a:hover{
	border-bottom: 0;
	color: #3EA6FF;
}
#register{
	margin-left: 70px;
	margin-top: 10px;
}
.palka{
	margin: 20px 0px 20px 115px;
	width: 70px;
	height: 2px;
	background: #5A5E67;
}
.polka{
	margin: 0 0 20px 70px;
	display: flex;
}
.polka a{
	font-size: 20px;
	margin-left: 10px;
	color: #767676;
}
.polka a:hover{
	color: #3EA6FF;
}
.account{
	margin-left: 90px;
	text-transform: none;
	color: #5A5E67;
	border-bottom: 1px solid #5A5E67;
	padding-bottom: 2px;
}

.account:hover{
	cursor: pointer;
	color: #3EA6FF;
	border-bottom: 0;
}
.title_history{
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	padding-left: 160px;
}
.problem{
	padding-top: 15px;
	margin-left: 30px;
	font-size: 12px;
}
.palka2{
	margin: 20px 0px 20px 110px;
	width: 40px;
	height: 2px;
	background: #5A5E67;
}
.polka2{
	margin: 0 0 20px 50px;
	display: flex;
}
.polka2 a{
	font-size: 20px;
	margin-left: 10px;
	color: #767676;
}
.polka2 a:hover{
	color: #3EA6FF;
}
.pusto{
	height: 10px;
}
#x{
	margin-left: 40px;
}
#y{
	margin-left: 65px;
}
.popup_area_register{
	position: absolute;
	width:100%;
	height: 100%;
}
.may{
	height: 20px;
	width: 100px;
	background: black;
}
.error{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 20px;
	transition: 0.4s;
	transform: translate(100%,0);
	opacity: 0;
	visibility: hidden;
	color: white;
	font-size: 9px;
 	height: 30px;
 	padding: 15px;
 	padding-top: 20px;
 	width: 180px;
 	background: #3EA6FF;
 	border-radius: 5px;
}
.open{
	transform: translate(0,0);
	opacity: 1;
	visibility: visible;	
}
.popup_nastroiki{
	transition: 0.2s;
	position: fixed;
	width: 100%;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	z-index: 2;
	visibility: hidden;
}
.popup_nastroiki:target {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}
.popup_nastroiki:target .popup_content_nast{
	transform: translate(0,0);
	opacity: 1;
}
.popup_area_zag{
	position: absolute;
	width:100%;
	height: 100%;
}
.popup_content_nast{
	padding: 40px;
	border-radius: 10px;
	padding-top: 18px;
	transition: 0.2s;
	opacity: 0;
	transform: translate(0,-100%);
	background: url("../img/fon_zag.jpg") center no-repeat;
    background-size: cover;
	color: black;
	width: 470px;
	height: 440px;
}
.popup_doby_nast{
	margin-top: 40px;
	align-content: center;
	justify-content: center;
	display: flex;
	min-height: 100vh;
}
#exit_bu{
	margin-left: 20px;
	margin-top: 25px;
	width: 130px;
}
#min{
	padding: 5px 26px;
}
#min2{
	padding: 5px 28px;
}
#min3{
	padding: 5px 43px;
}
#min4{
	padding: 5px 35px;
}
#min5{
	padding: 5px 44px;
}
#min6{
	padding: 5px 43px;
}
.delet{
	color: #A91515;
	padding: 2px;
	position: absolute;
	font-size: 20px;
	margin-top: 15px;
	margin-left: -40px;
	

}
.delet:hover{
	transition: 0.3s;
	color: #FF1515;
}
.file{
	width: 200px;
	border: 0;
	margin-bottom: 80px;
}
.title_nast h2{
	padding-bottom: 10px;
}
#file_media{
	margin-left: 42px;
	margin-bottom: 20px;
}
#file_media:focus{
	border: 0px;
}
#file_img:focus{
	border: 0px;
}
.title_nast h3{
	padding: 10px 0 10px 0 ;
}
#nazvanie{
	margin-left: 74px;
	height: 20px;
	width: 200px;
	margin-bottom: 15px;
}
textarea{
	resize: none;
}
#opisanie_text{
	margin-left: 74px;
	width: 200px;
	padding-bottom: 100px;
	margin-bottom: 15px;
}
.p{
	display: grid;
}
.zast{
	padding-bottom: 20px;
}
.zast h2{
	padding-bottom: 10px;
}
.com{
	border: 1px solid #CCCCCC;
	background: white;
	margin-top: 80px;
	height: 100px;
}
.com input{
	margin-top: 10px;
}
.data_box{
	position: absolute;
	margin-left: 40px;
	
}
.data_box h2{
	padding-bottom: 10px;
}
#date{
	height: 25px;
}
#mesto{
	padding: 4px 0 7px 0 ;
}
.otprav{
	height: 50px;
	font-size: 18px;
	width: 160px;
	margin-left: 160px;
	margin-top: 10px;
	font-family: "Roboto";
	cursor: pointer;
	border: 1px solid #D90548;
	padding: 5px 20px 5px 20px;
	color: #D90548;
	background: white;
}
.otprav:hover{
	transition: 0.2s;
	border: 1px solid #3EA6FF;
	color: #3EA6FF;
}
input{
	border: 1px solid #CCCCCC;
}
input:focus{
	border: 1px solid #3EA6FF;
}
textarea{
	border: 1px solid #CCCCCC;
}
textarea:focus{
	border: 1px solid #3EA6FF;
}
/* Слайдер */ 
.slick-slider{}
/* Слайдер запущен */ 
.slick-slider.slick-initialized{
	position: relative;
}
/* Слайдер с точками */ 
.slick-slider.slick-dotted{}

 /* Ограничивающая оболочка */ 
 .slick-list {
 	overflow: hidden;
 } 
 /* Лента слайдов */ 
 .slick-track{
 	display: flex;

 } 

 /* Слайд */ 
 .slick-slide{}
 /* Слайд активный (показывается) */ 
 .slick-slide.slick-active{} 
 /* Слайд основной */ 
 .slick-slide.slick-current{} 
 /* Слайд по центру */ 
 .slick-slide.slick-center{} 
 /* Клонированный слайд */ 
 .slick-slide.slick-cloned{} 

 /* Стрелка */ 
 .slick-arrow{} 
 /* Стрелка влево */ 
 .slick-arrow.slick-prev{} 
 /* Стрелка вправо */ 
 .slick-arrow.slick-next{} 
 /* Стрелка не активная */ 
 .slick-arrow.slick-disabled{} 
.slider .slick-dots{
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin-left: 10px;
}
.slider .slick-dots li.slick-active button{
	background: black;
	border: 1px solid #484D56;
}
.slider .slick-dots button{
	border: 1px solid #484D56;
	list-style: none;
	font-size: 0;
	width: 10px;
	height: 10px;
	background: transparent;
	border-radius: 50%;
}
/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}
.slider .slick-arrow{
	margin-top: 100px;
	position: absolute;
	top: 0%;
	z-index: 3;
	font-size: 0;
	width: 30px;
	height: 198px;
	padding-bottom: 80px;
	background: #B4ADAE;
	border: 0;
	opacity: 0.5;
}
.slider .slick-arrow.slick-prev{
	left: 0;
} 
.slider .slick-arrow.slick-next{
	right: 0;
}  
.slider_item{
	text-align: center;
}
.select{
	margin-top: 10px;
	border: 1px solid #CCCCCC;
	background: white;
	padding: 5px;
}
.categ{
	margin-top: 5px;
}
.video_history{
	width: 1400px;
}
video{
	margin-left: 20px;
}




.popup_usl{
	transition: 0.2s;
	position: fixed;
	width: 100%;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	z-index: 2;
	visibility: hidden;
}
.popup_usl:target {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}
.popup_usl:target .popup_content_usl{
	transform: translate(0,0);
	opacity: 1;
}
.popup_area_usl{
	position: absolute;
	width:100%;
	height: 100%;
}
.box_file{
	margin-top: 200px;
}
.popup_content_usl{
	padding: 40px;
	border-radius: 10px;
	padding-top: 18px;
	transition: 0.2s;
	opacity: 0;
	transform: translate(0,-100%);
	background-color: white;
	color: black;
	width: 430px;
	height: 440px;
}
.popup_doby_usl{
	margin-top: 90px;
	align-content: center;
	justify-content: center;
	display: flex;
	min-height: 100vh;
}
.title_usl{
	text-align: center;
}
#button_create{
	font-family: "Roboto";
	cursor: pointer;
	font-size: 18px;
	border: 1px solid #D90548;
	padding: 10px 40px;
	color: #D90548;
	background: white;
	margin-left: 120px;
}
#button_create:hover{
	border: 1px solid #3EA6FF;
	color: #3EA6FF;
}
